<div class="row" ng-controller="LoginController" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-6 col-centered">
        <h3>Login</h3>

        <form name="loginForm" novalidate class="form-horizontal" role="form" autocomplete="off">
            <div class="form-group">
                <label for="inputLoginName" class="col-sm-3 control-label">Login</label>

                <div class="col-sm-9">
                    <input name="loginName" type="text" class="form-control" id="inputLoginName" placeholder="Login"
                           ng-model="loginFormData.loginName" server-error>
                </div>
                <div class="errors col-sm-offset-3 col-sm-9"
                     ng-show="!loginForm.loginName.$dirty && loginForm.loginName.$invalid" ng-cloak>
                    <span ng-show="loginForm.loginName.$error.server">{{ errors.loginName }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                <div class="col-sm-9">
                    <input name="password" type="password" class="form-control" id="inputPassword"
                           placeholder="Password" ng-model="loginFormData.password" server-error>
                </div>
                <div class="errors col-sm-offset-3 col-sm-9"
                     ng-show="!loginForm.password.$dirty && loginForm.password.$invalid" ng-cloak>
                    <span ng-show="loginForm.password.$error.server">{{ errors.password }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTimeSimulation" class="col-sm-3 control-label">Time simulation</label>

                <div class="col-sm-9">
                    <div class="dropdown"> <!-- TODO: Replace by Angular-UI stuff once at Bootstrap 3? -->
                        <a class="dropdown-toggle time-simulation-toggle-select" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input name="timeSimulation" id="inputTimeSimulation" type="text" class="form-control
                                datetimepickerbox" placeholder="Time simulation" readonly
                                       data-ng-model="loginFormData.timeSimulation" server-error>
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu full-width" role="menu">
                            <datetimepicker data-ng-model="loginFormData.timeSimulation"
                                            data-datetimepicker-config="{dropdownSelector: '.time-simulation-toggle-select'}"></datetimepicker>
                        </ul>
                        <!-- TODO: datetimepicker options: https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
                    </div>
                </div>
                <div class="errors col-sm-offset-3 col-sm-9"
                     ng-show="!loginForm.timeSimulation.$dirty && loginForm.timeSimulation.$invalid" ng-cloak>
                    <span ng-show="loginForm.timeSimulation.$error.server">{{ errors.timeSimulation }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default pull-right" ng-click="login(loginFormData)">
                        Log me in
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="alert alert-success" ng-show="$stateParams.justRegistered" ng-cloak>
                        You successfully registered for Get A Car! With some luck the admins might accept your
                        registration. Sadly you can not log in until then!
                    </div>
                    <div class="alert alert-danger" ng-show="errorMessage" ng-cloak>
                        {{errorMessage}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>