<div class="row" ng-controller="RegisterController" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-8 col-centered">
        <h3>Register</h3>

        <form name="registerForm" novalidate class="form-horizontal" role="form" autocomplete="off">
            <div class="form-group">
                <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>

                <div class="col-sm-10">
                    <input name="user.firstName" type="text" class="form-control" id="inputFirstName"
                           placeholder="First Name"
                           ng-model="registerFormData.user.firstName" server-error>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm['user.firstName'].$dirty && registerForm['user.firstName'].$invalid">
                    <span ng-show="registerForm['user.firstName'].$error.server">{{ errors['user.firstName'] }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>

                <div class="col-sm-10">
                    <input name="user.lastName" type="text" class="form-control" id="inputLastName"
                           placeholder="Last Name" ng-model="registerFormData.user.lastName" server-error>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm['user.lastName'].$dirty && registerForm['user.lastName'].$invalid">
                    <span ng-show="registerForm['user.lastName'].$error.server">{{ errors['user.lastName'] }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLoginName" class="col-sm-2 control-label">Login</label>

                <div class="col-sm-10">
                    <input name="user.loginName" type="text" class="form-control" id="inputLoginName"
                           placeholder="Login" ng-model="registerFormData.user.loginName" server-error>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm['user.loginName'].$dirty && registerForm['user.loginName'].$invalid">
                    <span ng-show="registerForm['user.loginName'].$error.server">{{ errors['user.loginName'] }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">E-Mail</label>

                <div class="col-sm-10">
                    <input name="user.email" type="text" class="form-control" id="inputEmail" placeholder="E-Mail"
                           ng-model="registerFormData.user.email" server-error>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm['user.email'].$dirty && registerForm['user.email'].$invalid">
                    <span ng-show="registerForm['user.email'].$error.server">{{ errors['user.email'] }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                <div class="col-sm-10">
                    <input name="user.password" type="password" class="form-control" id="inputPassword"
                           placeholder="Password" ng-model="registerFormData.user.password" server-error>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm['user.password'].$dirty && registerForm['user.password'].$invalid">
                    <span ng-show="registerForm['user.password'].$error.server">{{ errors['user.password'] }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPasswordRepeat" class="col-sm-2 control-label">Password Repeat</label>

                <div class="col-sm-10">
                    <input name="user.passwordRepeat" type="password" class="form-control" id="inputPasswordRepeat"
                           placeholder="Password Repeat" ng-model="registerFormData.user.passwordRepeat" server-error>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm['user.passwordRepeat'].$dirty && registerForm['user.passwordRepeat'].$invalid">
                    <span ng-show="registerForm['user.passwordRepeat'].$error.server">{{ errors['user.passwordRepeat'] }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input name="acceptTOS" type="checkbox" id="inputAcceptTOS"
                                   ng-model="registerFormData.acceptTOS" server-error>
                            <span>I accept the <a ng-click="readTOS()">TOS</a></span>
                        </label>
                    </div>
                </div>
                <div class="errors col-sm-offset-2 col-sm-10"
                     ng-show="!registerForm.acceptTOS.$dirty && registerForm.acceptTOS.$invalid">
                    <span ng-show="registerForm.acceptTOS.$error.server">{{ errors.acceptTOS }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="register(registerFormData)">
                        Register me
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>