<div ng-controller="MainController">
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a ui-sref="login" class="navbar-brand">Get A Car</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Home</a></li>
                    <li ng-class="{active: $state.includes('search')}"><a ui-sref="search">Search</a></li>
                    <li><a href="../account/logout">Log out!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ui-view></div>
</div>