<div class="full-height" ng-controller="MainController">
	<div role="navigation" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="../app" class="brand-logo">
					<img src="images/get_a_car_logo.png" alt="Get A Car"/>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li ng-class="{active: $state.includes('home')}">
						<a ui-sref="home">
							<i class="glyphicon glyphicon-home"></i>
							Home
						</a>
					</li>
					<li ng-class="{active: $state.includes('search')}">
						<a ui-sref="search">
							<i class="glyphicon glyphicon-search"></i>
							Search
						</a>
					</li>
					<li ng-class="{active: ($state.includes('reservation') || $state.includes('reservations'))}">
						<a ui-sref="reservations">
							<i class="glyphicon glyphicon-list"></i>
							Reservations
						</a>
					</li>
					<li>
						<a href="../account/logout">
							<i class="glyphicon glyphicon-log-out"></i>
							<span>Log out</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrap" class="container" ui-view></div>

	<div class="footer">
		<p class="pull-left">♥ from your Get A Car team - Stay sober!
			<i class="glyphicon glyphicon-glass"></i>
		</p>

		<div class="pull-right" tooltip="This is the simulated time" tooltip-placement="top">
			<gac-Clock></gac-Clock>
		</div>
	</div>
</div>