<div ng-controller="HomeController" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-sm-12">
			<h2>Finding the right car...</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<carousel class="rounded-corners">
				<slide ng-repeat="homeSlide in homeSlides">
					<img ng-src="{{ homeSlide.image }}" class="home-slide-image img-thumbnail">
				</slide>
			</carousel>
		</div>
	</div>
	<div class="col-sm-12">
		<h2 class="pull-right">... for everyone!</h2>
	</div>
</div>
</div>