<div ng-controller="SearchVehiclesController" xmlns="http://www.w3.org/1999/html">
    <div class="row">

        <div class="col-xs-5">
            <div class="row">
                <form name="searchVehiclesForm" novalidate class="form-horizontal" role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="inputPosition" class="col-sm-2 control-label">Position</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <!-- TODO: Get rid of all those definitions here! How? -->
                                <!-- ng-model="dummy" so that angular.js recognizes this field as a form field! -->
                                <input name="position" ng-model="dummy" type="text" class="form-control"
                                       id="inputPosition"
                                       gp-autocomplete gp-value="gpValue" gp-details="gpDetails" gp-options="gpOptions"
                                       gp-lat-lng="gpLatLng" on-place-changed="onGPPlaceChanged(value, details)"
                                       server-error/>
                                <a title="Find my location" ng-show="geolocationAvailable" ng-click="findMe()"
                                   class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-search"></i>
                                </a>
                            </div>
                        </div>
                        <div class="errors col-sm-offset-2 col-sm-10"
                             ng-show="!searchVehiclesForm.position.$dirty && searchVehiclesForm.position.$invalid">
                            <span ng-show="searchVehiclesForm.position.$error.server">{{ errors.position }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRadius" class="col-sm-2 control-label">Radius</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="radius" ng-model="searchVehiclesFormData.radius" class="form-control"
                                        id="inputRadius" server-error>
                                    <option value="">Please Choose</option>
                                    <option value="1">1 Km</option>
                                    <option value="2">2 Km</option>
                                    <option value="5">5 Km</option>
                                    <option value="10">10 Km</option>
                                    <option value="25">25 Km</option>
                                    <option value="50">50 Km</option>
                                    <option value="100">100 Km</option>
                                </select>
                                <label for="inputRadius" class="input-group-addon">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </label>
                            </div>
                        </div>
                        <div class="errors col-sm-offset-2 col-sm-10"
                             ng-show="!searchVehiclesForm.radius.$dirty && searchVehiclesForm.radius.$invalid">
                            <span ng-show="searchVehiclesForm.radius.$error.server">{{ errors.radius }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputType" class="col-sm-2 control-label">Type</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="vehicleType" ng-model="searchVehiclesFormData.vehicleType"
                                        ng-options="vt.name for vt in vehicleTypes" class="form-control"
                                        id="inputType" server-error>
                                    <option value="">Please choose</option>
                                </select>
                                <label for="inputType" class="input-group-addon">
                                    <i class="glyphicon glyphicon-random"></i>
                                </label>
                            </div>
                        </div>
                        <div class="errors col-sm-offset-2 col-sm-10"
                             ng-show="!searchVehiclesForm.vehicleType.$dirty && searchVehiclesForm.vehicleType.$invalid">
                            <span ng-show="searchVehiclesForm.vehicleType.$error.server">{{ errors.vehicleType }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFrom" class="col-sm-2 control-label">From</label>

                        <div class="col-sm-10">
                            <div class="dropdown"> <!-- TODO: Replace by Angular-UI stuff once at Bootstrap 3? -->
                                <a class="dropdown-toggle from-toggle-select" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input name="from" id="inputFrom" type="text"
                                               class="form-control datetimepickerbox" placeholder="From" readonly
                                               data-ng-model="searchVehiclesFormData.from" server-error>
                                         <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                         </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu full-width" role="menu">
                                    <datetimepicker data-ng-model="searchVehiclesFormData.from"
                                                    data-datetimepicker-config="{dropdownSelector: '.from-toggle-select'}">
                                    </datetimepicker>
                                </ul>
                                <!-- TODO: datetimepicker options: https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
                            </div>
                        </div>
                        <div class="errors col-sm-offset-2 col-sm-10"
                             ng-show="!searchVehiclesForm.from.$dirty && searchVehiclesForm.from.$invalid">
                            <span ng-show="searchVehiclesForm.from.$error.server">{{ errors.from }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTo" class="col-sm-2 control-label">To</label>

                        <div class="col-sm-10">
                            <div class="dropdown"> <!-- TODO: Replace by Angular-UI stuff once at Bootstrap 3? -->
                                <a class="dropdown-toggle to-toggle-select" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input name="to" id="inputTo" type="text"
                                               class="form-control datetimepickerbox" placeholder="To" readonly
                                               data-ng-model="searchVehiclesFormData.to" server-error>
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu full-width" role="menu">
                                    <datetimepicker data-ng-model="searchVehiclesFormData.to"
                                                    data-datetimepicker-config="{dropdownSelector: '.to-toggle-select'}"></datetimepicker>
                                </ul>
                                <!-- TODO: datetimepicker options: https://github.com/dalelotts/angular-bootstrap-datetimepicker ; extend by max day min day like the original bs 3 date picker has? -->
                            </div>
                        </div>
                        <div class="errors col-sm-offset-2 col-sm-10"
                             ng-show="!searchVehiclesForm.to.$dirty && searchVehiclesForm.to.$invalid">
                            <span ng-show="searchVehiclesForm.to.$error.server">{{ errors.to }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default pull-right"
                                    ng-click="searchVehicles(searchVehiclesFormData)">
                                Show me the vehicles!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-7">
            <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging"
                        bounds="map.bounds" events="map.events" options="map.options">
                <div ng-repeat="vehicleSearchResultsMarker in map.vehicleSearchResultsMarkers">
                    <marker coords="vehicleSearchResultsMarker" icon="vehicleSearchResultsMarker.icon"
                            click="vehicleSearchResultsMarker.onClicked(vehicleSearchResultsMarker)">
                        <window show="vehicleSearchResultsMarker.showWindow"
                                templateUrl="vehicleSearchResultsMarker.templateUrl"
                                templateParameter="vehicleSearchResultsMarker.templateParameter">
                        </window>
                    </marker>
                </div>

                <!-- marker for user position -->
                <!-- can not put google.map.animations.BOUNCE , since it is not initialized yet -->
                <div>
                    <marker coords="map.userPositionMarker" icon="map.userPositionMarker.icon"
                            click="map.userPositionMarker.onClicked(map.userPositionMarker)">
                        <window show="map.userPositionMarker.showWindow"
                                closeClick="map.userPositionMarker.closeClick(map.userPositionMarker)"
                                templateUrl="map.userPositionMarker.templateUrl"
                                templateParameter="map.userPositionMarker.templateParameter">
                        </window>
                    </marker>
                </div>
            </google-map>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>

            <div ng-show="vehicleSearchResults.length === 0 && !searched">
                Search results will be presented to you down here!
            </div>
            <div ng-show="vehicleSearchResults.length === 0 && searched">
                Couldn't find any vehicles matching your criteria, sorry! :(
            </div>
            <div ng-repeat="vehicleSearchResult in vehicleSearchResults">
                <div class="well">
                    <vehicle-search-result result="vehicleSearchResult"></vehicle-search-result>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>