<div id="vsr{{result.vehicle.id}}" class="well">
    <div class="row">
        <div class="col-sm-6">
            <span tooltip="{{result.vehicle.vehicleType.name}} - {{result.vehicle.vehicleType.description}}"
                  tooltip-placement="right">
                <img ng-src="{{ getIconUrl(result) }}">
            </span>
        </div>
        <div class="col-sm-6">
            <div class="pull-right" tooltip="Distance">
                <i class="glyphicon glyphicon-random"></i>
                <span>
                    {{ result.distance | number:1 }} Km
                </span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <label class="col-sm-3">Current position</label>

                <div class="col-sm-9">
                    <div>
                        <gp-geocoder gp-geocode-lat-lng="gpGeocodeLatLng"></gp-geocoder>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3">License number</label>

                <div class="col-sm-9">
                    <div>
                        {{result.vehicle.licenseNumber}}
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3">Additional information</label>

                <div class="col-sm-9">
                    <div>
                        {{result.vehicle.comment}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail" ng-src="../images?image={{ result.vehicle.vehicleImages[0].fileName }}">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
            <button type="submit" class="btn btn-success pull-right" ng-click="reserveVehicle()">
                Details / Reserve vehicle
            </button>
        </div>
    </div>
</div>